{% extends 'courses/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1>My Profile</h1>
            <div class="col-sm-4 col-md-4">
                {% if user_subscription != None %}
                    <h4>Current membership:{{ user_membership.membership.membership_type }}
                    <small>since:{{ user_subscription.get_created_date }}</small></h4>
                    {% if user_subscription.active != False %}
                        <p>Next payment due: {{ user_subscription.get_next_billing_date }}</p>
                        <a href="#">Cancel Subscription</a>
                    {% else %}
                        <p>You don't have a membership plan check them out here.
                            <a href="{% url 'membership/select' %}"></a></p>
                    {% endif %}

                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}